# Copy to scripts/dev/.env and customize
DB_USERNAME=archforge
DB_PASSWORD=archforge
DB_NAME_USER=archforge_user
DB_NAME_TASK=archforge_task
RUSTFS_ROOT_USER=minioadmin
RUSTFS_ROOT_PASSWORD=minioadmin
S3_BUCKET=archforge
